[Desktop Entry]
Name=itch
GenericName=Game Launcher
Comment=A game launcher for Indie games. 
TryExec=itch
Exec=itch --no-sandbox
Terminal=false
Type=Application
Keywords=Game;Launcher;Itch;
Icon=itch
Categories=Utility;
StartupNotify=false
