.bar {
  font-family: Inter;
  font-size: 14;
  color: #90e4f3;


  border-radius: 13;
  background-color: #1a1b26;
  opacity: 0.90;
}
.title {
  color: #f9afe8;
  font-size: 18;
  font-weight: bold;


}

.bottomInfo {
  font-size: 15;

}

.smallsep {
  color: #d183cf;
}


