.bar {
  font-family: Inter;
  font-size: 14;
  color: #c0caf5;


  border-radius: 13;
  background-color: #1a1b26;
  opacity: 0.90;
}
.title {
  color: #e0af68;
  font-size: 18;
  font-weight: bold;


}

.bottomInfo {
  font-size: 15;

}

.smallsep {
  color: #e0af68;
}


